:root {
  --font-heading: "Fjalla One", sans-serif;
  --font-body: "Nunito", sans-serif;
  --background-color: #fcefed;
  --text-color: #3b2e40;
  --feature-color-1: #6173f4;
  --feature-color-2: #f35e3e;
}

body {
  background-color: var(--background-color);
}

h1 {
  color: var(--text-color);
  font-family: var(--font-heading);
  font-size: 48px;
}

p {
  color: var(--text-color);
  font-family: var(--font-body);
  font-size: 24px;
}
