:root {
  --font-heading: "Fjalla One", sans-serif;
  --font-body: "Nunito", sans-serif;
  --background-color: #fcefed;
  --text-color: #3b2e40;
  --feature-color-1: #6173f4;
  --feature-color-1-light: #dfe3fd;
  --feature-color-2: #f35e3e;
  --box-shadow-light: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --box-shadow-heavy: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

h1 {
  color: var(--text-color);
  font-family: var(--font-heading);
  font-size: 120px;
  margin: 40px 0;
}

h2 {
  color: var(--text-color);
  font-family: var(--font-body);
  font-size: 60px;
}

h3 {
  color: var(--text-color);
  font-family: var(--font-heading);
  font-size: 40px;
  padding-top: 20px;
}

p {
  color: var(--text-color);
  font-family: var(--font-body);
  font-size: 34px;
  margin: 40px;
}

footer {
  background-color: var(--feature-color-1-light);
  display: flex;
  padding: 20px 0;
  width: 100%;
  bottom: 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar {
  background-color: var(--feature-color-1-light);
  font-family: var(--font-heading);
  font-size: 30px;
  padding-left: 20px;
}

.navbar li {
  margin: 0 50px;
}

.first-line {
  margin-top: 180px;
}

.socials {
  color: var(--text-color);
  display: flex;
  font-size: 58px;
  margin-left: 60px;
}

.btn-lg {
  background-color: var(--feature-color-2);
  box-shadow: var(--box-shadow-light);
  font-family: var(--font-body);
  font-size: 30px;
  font-weight: bold;
  margin: 100px;
  padding: 20px 30px;
}

.btn-lg:hover {
  border: 3px solid var(--feature-color-2);
}

.btn-netlify {
  background-color: var(--feature-color-1);
  font-size: 25px;
  margin: 50px 0;
}

.btn-netlify:hover {
  border: 3px solid var(--feature-color-1);
}

#recent-project-screenshot {
  border-radius: 10px;
  box-shadow: var(--box-shadow-heavy);
}
